[submodule "vendored/SDL"]
	path = vendored/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendored/clay"]
	path = vendored/clay
	url = https://github.com/nicbarker/clay
[submodule "vendored/luau"]
	path = vendored/luau
	url = https://github.com/luau-lang/luau
